

/*   G A M E   M A P   S T Y L I N G   */

.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-retro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.grid-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 830px;
  width: 760px
}

.grid-container-giant {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 820px;
  width: 1640px;
}

.wall {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgb(244, 244, 244);
  font-size: 10px;
}

.wall-retro {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgb(34, 0, 255);
  font-size: 10px;
}
.path {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  font-size: 10px;
}

.path-retro {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 10px;
}

.door-retro {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgba(34, 0, 255, 0.474);
  font-size: 10px;
}

.door {
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgba(244, 244, 244, 0.612);
  font-size: 10px;
}

.gamePoints-retro {
  color: rgb(255, 255, 255);
}

/*   C H A R A C T E R   S T Y L I N G   */

/* pacman */
.pacman {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(255, 251, 0);
  z-index: 2;
  margin: 10px;
}

/* ghosts */
.blinky {
  height: 25px;
  width: 25px;
  background-image:url("../images/blinky-game-icon-25px.png"); 
  background-color: transparent;
  z-index: 2;
  margin: 10px;
  position: absolute;
}

.pinky {
  height: 25px;
  width: 25px;
  background-image: url('../images/pinky-game-icon-25px.png');
  z-index: 9;
  margin: 10px;
  position: absolute;
}

.inky {
  height: 25px;
  width: 25px;
  background-image: url('../images/Inky-game-icon-25px.png');
  z-index: 9;
  margin: 10px;
  position: absolute;
}

.clyde {
  height: 25px;
  width: 25px;
  background-image: url('../images/Clyde-game-icon-25px.png');
  z-index: 9;
  margin: 10px;
  position: absolute;
}

.ghost-vulnerable {
  height: 30px;
  width: 30px;
  background-image:url("../images/vulnerable-ghost-retro.png");
  background-color: transparent;
  z-index: 9;
  margin: 10px;
}

/*   D O T S   S T Y L I N G   */
.dots {
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  z-index: 0;
}

.dots-retro {
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  z-index: 0;
}

.big-dot {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin: 10px;
  z-index: 0;
}

.big-dot-retro {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  z-index: 0;
}



/* Game won/lost styling  */

.game-over {
  font-size: 80px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}



.replay-button {
  background-color: rgb(255, 255, 255);
}

.replay-button:hover {
  background-color: #ff6600;
  color: white;
}

.results {
  color: rgb(0, 0, 0);
}

.finalpoints {
  color: rgb(0, 0, 0);
}


/*   R E S P O N S I V E   S T Y L I N G   */

@media screen and (max-width: 900px) {
  
  
  .grid-container {
    height: 720px;
    width: 570px
  }
  
  .wall {
    height: 30px;
    width: 30px;
  }
  
  .path {
    height: 30px;
    width: 30px;
  }

  .pacman {
    height: 15px;
    width: 15px;
    border-radius: 15px;
  }
  
  .ghost {
    height: 20px;
    width: 20px;
  }
  
  .ghost-vulnerable {
    height: 20px;
    width: 20px;
  }
  .dots {
    height: 8px;
    width: 8px;
    border-radius: 8px;

  }
  
  .big-dot {
    height: 15px;
    width: 15px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 700px) {
  .grid-container {
    height: 600px;
    width: 480px
  }
  
  .wall {
    height: 25px;
    width: 25px;
  }
  
  .path {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 550px) {
  .grid-container {
    height: 480px;
    width: 380px
  }
  
  .wall {
    height: 20px;
    width: 20px;
  }
  
  .path {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 450px) {
  .grid-container {
    height: 365px;
    width: 290px
  }
  
  .wall {
    height: 15px;
    width: 15px;
  }
  
  .path {
    height: 15px;
    width: 15px;
  }
}