
/* M A I N   M E N U   S T Y L I N G  */

.start-menu {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  animation: startmenufade 1s;
  animation-iteration-count: 1;
}

@keyframes startmenufade {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.main-title {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Smooch Sans', sans-serif;
  letter-spacing: 10px;
  margin: 50px;
}

button {
  font-size: 50px;
  margin: 15px;
  letter-spacing: 5px;
  font-weight: 400;
  padding: 25px 30px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1);
  width: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}


.play-button:hover {
  background-color: #f44236;
  box-shadow: 0px 1px 3px 1px rgba(255, 0, 0, 0.1),
  0px 1px 3px 1px rgba(255, 0, 0, 0.1),
  0px 1px 3px 1px rgba(255, 0, 0, 0.1);
  color: white;
}

.how-to-play:hover {
  background-color: #fcb949;
  color: white;
}

.leaderboard:hover {
  background-color: #ff0066;
  color: white;
}

.github:hover {
  background-color: #70cac4;
  color: white;
  
}

.menu-images {
  display: flex;
  justify-content: center;
}
img {
  height: 100px;
  display: flex;
  margin: 10px 50px;
}




@media screen and (max-height: 900px) {

  button  {
    font-size: 40px;
  }

  .main-title {
    font-size: 80px;
    margin: 10px;
  }

  img {
    height: 80px;
    margin: 0px 20px;
  }
}
@media screen and (max-width: 1000px) {

  button {
    font-size: 40px;
    letter-spacing: 5px;
  }

  .main-title {
    font-size: 70px;
    letter-spacing: 5px;
  }
  img {
    height: 50px;
    display: flex;
    margin: 10px 0px;
  }

}

@media only screen and (max-width: 500px) {

  button {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .main-title {
    font-size: 70px;
    letter-spacing: 5px;
  }
  img {
    height: 20px;
    display: flex;
    margin: 5px 10px;
  }
}

/* O P T I O N   P A G E   S T Y L I N G  */

.optionsPlayButton:hover {
  background-color: #f44236;
  color: #ffffff;
}

.no-click-error {
  color: #f44236;
  font-size: 20px;
}

label {
  font-size: 25px;
  padding: 10px;
}

.preview-map-img {
  margin: auto;
  height: 300px
}
input

/* H O W   T O   P L A Y   P A G E   S T Y L I N G  */


#htp-page {
  overflow: scroll;
  color: #f44236;
}

h2 {
  font-size: 50px;
  padding: 20px;
}

h3 {
  font-size: 35px;
  padding:20px;
}

p {
  display: block;
  font-size: 20px;
} 

ul {
  padding: 20px;
}

li {
  font-size: 20px;
}

.htp-return {
  font-size: 50px;
  margin: 10px;
  letter-spacing: 5px;
  font-weight: 400;
  padding: 10px 20px;
  width: 40%;
}
.htp-return:hover {
  background-color: #fcb949;
  color: white;
}

.leaderboard-return:hover {
  background-color: #ff0066;
  color: white;
}

.ghost-list {
  margin: auto;
  height: 50px;
}

.character-list{
  display: flex;
  justify-content: center;
}
.character-list-item {
  margin: 5px 20px;
}