* {
  box-sizing: border-box;
  overflow: hidden;
}


body {
  height: 100vh;
  margin: 0 auto;
}

main {
  height: 100vh;
  margin: 0;
}
/* Menu styling  */
.start-menu {
  text-align: center;
  margin: 0 auto;
  height: 100vh;

}
.main-title {
  font-size: 150px;
  font-weight: 400px;
  font-family: 'Smooch Sans', sans-serif;
  letter-spacing: 10px;
  margin: 50px;
}

button {
  font-size: 50px;
  margin: 15px;
  letter-spacing: 5px;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 400;
  padding: 25px 30px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1);
  width: 50%;
  border: none;
  background-color: white;
}

img {
  height: 100px;
  display:block;
  margin: auto;
  background: transparent;

}
.play-button:hover {
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

.how-to-play:hover {
  background-color: #ff6600;
  color: white;
}

.Leaderboard:hover {
  background-color: #ff47ea;
  color: white;
}

.github:hover {
  background-color: #00ebcc;
  color: white;
  
}

/* Game Styling */

/* Game map styling  */
.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  height: 700px;
  width: 800px;
}

.wall {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 100px;
  width: 100px;
  background-color: rgba(132, 0, 255, 0.081);
}

.path {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 255, 21, 0.212);
  z-index: 1;
}

/* Character Styling */

.pacman {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: rgb(255, 251, 0);
  z-index: 2;
  margin: 0 auto;
}

.ghost {
  height: 50px;
  width: 25px;
  background-color: blue;
  z-index: 2;
  margin: 0 auto;
}

.ghost-vulnerable {
  height: 50px;
  width: 25px;
  background-color: rgb(38, 255, 0);
  z-index: 2;
  margin: 0 auto;
}
.dots {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin: 0 auto;
  z-index: 0;
}

.big-dot {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: black;
  margin: 0 auto;
  z-index: 0;
}

.game-over {
  font-size: 80px;
  background-color: blueviolet;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

p {
  display: block;
}

.replay-button {
  background-color: rgb(0, 255, 47);
}

.results {
  color: rgb(0, 0, 0);
}

.finalpoints {
  color: rgb(0, 0, 0);
}