* {
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}


body {
  height: 100vh;
  margin: 0 auto;
}

main {
  height: 100vh;
  margin: 0;
}
/* Menu styling  */
.start-menu {
  text-align: center;
  margin: 0 auto;
  height: 100vh;

}
.main-title {
  font-size: 100px;
  font-weight: 400;
  font-family: 'Smooch Sans', sans-serif;
  letter-spacing: 10px;
  margin: 50px;
}

button {
  font-size: 50px;
  margin: 15px;
  letter-spacing: 5px;
  font-family: 'Smooch Sans', sans-serif;
  font-weight: 400;
  padding: 25px 30px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1),
  0px 1px 3px 1px rgba(0,0,0,0.1);
  width: 50%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.menu-images {
  display: flex;
  justify-content: center;
}
img {
  height: 100px;
  display: flex;
  margin: 10px 50px;
}



.play-button:hover {
  background-color: #f44236;
  color: white;
}

.how-to-play:hover {
  background-color: #fcb949;
  color: white;
}

.leaderboard:hover {
  background-color: #ff0066;
  color: white;
}

.github:hover {
  background-color: #70cac4;
  color: white;
  
}

@media screen and (max-height: 900px) {
  button{
    font-size: 40px;
  }

  .main-title {
    font-size: 80px;
    margin: 10px;
  }

  img {
    height: 80px;
    margin: 0px 20px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-color: rgb(213, 230, 173);
  }

  button {
    font-size: 40px;
    letter-spacing: 5px;
  }

  .main-title {
    font-size: 70px;
    letter-spacing: 5px;
  }
  img {
    height: 50px;
    display: flex;
    margin: 10px 0px;
  }

}

@media only screen and (max-width: 500px) {
  body {
    background-color: rgb(188, 173, 230);
  }

  button {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .main-title {
    font-size: 70px;
    letter-spacing: 5px;
  }
  img {
    height: 20px;
    display: flex;
    margin: 5px 10px;
  }
}

























































/* Game Styling */

/* Game map styling  */
.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 805px;
  width: 800px
}

.wall {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgba(132, 0, 255, 0.081);
  font-size: 10px;
}

.path {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 35px;
  width: 40px;
  background-color: rgba(0, 255, 21, 0.212);
  font-size: 10px;
}

/* Character Styling */

.pacman {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(255, 251, 0);
  z-index: 2;
  margin: 0 auto;
}

.ghost {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 0, 0);
  z-index: 2;
  margin: 0 auto;
  position: absolute;
}

.ghost-vulnerable {
  height: 35px;
  width: 25px;
  background-color: rgb(38, 255, 0);
  z-index: 2;
  margin: 0 auto;
}
.dots {
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  z-index: 0;
}

.big-dot {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin: 0 auto;
  z-index: 0;
}

.game-over {
  font-size: 80px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

p {
  display: block;
}

.replay-button {
  background-color: rgb(255, 255, 255);
}

.replay-button:hover {
  background-color: #ff6600;
  color: white;
}

.results {
  color: rgb(0, 0, 0);
}

.finalpoints {
  color: rgb(0, 0, 0);
}


/* how to play page styling */

.htp-h2 {
  font-size: 50px
}