@import "main-menu.css";
@import "game.css";

* {

  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-family: 'Smooch Sans', sans-serif;
}


body {
  height: 100vh;
  margin: 0 auto;
}

main {
  height: 100vh;
  margin: 0;
}